####################################
# ENV
####################################
.env
.env.local
.env.*.local
beach/.env

####################################
# Node / React / Expo
####################################
node_modules/
dist/
build/
.expo/
.expo-shared/
web-build/

####################################
# Logs
####################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# OS
####################################
.DS_Store
Thumbs.db
nul

####################################
# IDE / Tools
####################################
.vscode/
.idea/
.claude/

####################################
# Misc
####################################
*.log

